@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 40vw;
  background: linear-gradient(243.15deg, #000046 0%, #1cb5e0 99.34%);
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8em;
  padding: 0px 12em;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: 0.4s ease-in-out;
}

nav.scrolled {
  background: #0626659f;
  backdrop-filter: blur(5px);
  height: 5em;
}

#actionsNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4em;
}

.menu {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
}

.menu li {
  position: relative;
  /*display: inline-block;*/
  padding: 0.5em;
}

.menu li a {
  color: white;
  transition: 0.3s ease;
}

.menu li a:hover {
  color: #ffeb3b;
}

.menu li a.active {
  color: #ffeb3b;
}

.active::after {
  /*padding: 0.5em;*/
  content: "";
  width: 100%;
  height: 2px;
  background: #ffeb3b;
  position: absolute;
  bottom: -0.5em;
  left: 0px;
}

#menu_icon {
  display: none;
  cursor: pointer;
}

#menu_icon_c {
  display: none;
  cursor: pointer;
}

#header {
  padding: 8em 12em;

  display: flex;
  flex-direction: row;
  width: 100vw;
}

#infoFVR {
  margin-top: 96px;
  /*margin-right: 96px;*/
}

#infoFVR h1 {
  font-weight: 700;
  font-size: 64px;
  color: #cef6ff;
  line-height: 77px;
  /*margin-bottom:48px;*/
}

#infoFVR p {
  margin-top: 2em;
}
/*
#portrait{
    
    position:absolute;
    left: 800px;
    top: 100px;
    z-index:1;
    
}
*/

#blurTop {
  position: absolute;
  left: 44em;
  top: 20em;
  z-index: 3;
}

#title {
  margin-bottom: 32px;
}

#title p {
  margin-top: 0.5em;
}

#brands {
  margin-top: 32px;
  margin-bottom: 6em;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

#actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

#btn_primary {
  font-weight: 400;
  font-size: 16px;
  width: 308px;
  height: 64px;
  background: #ffeb3b;
  border-radius: 50px;
  border-style: none;
  color: #062565;
  transition: 0.3s ease;
  width: 16vw;
}

#btn_primary:hover {
  background: rgb(255, 217, 0);
  cursor: pointer;
}

#btn_secondary {
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  width: 308px;
  height: 64px;
  background: #062565;
  border-radius: 50px;
  border-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

#btn_secondary:hover {
  background: #02164f;
}

#icon_download {
  margin-right: 16px;
}

#btn_link {
  font-weight: 400;
  font-size: 16px;
  background: none;
  display: flex;
  align-items: center;
  color: white;
  gap: 16px;
}

#btn_link:hover {
  text-decoration: underline;
}

.highlights {
  color: #ffeb3b;
}

#skills {
  width: 100vw;
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  align-items: flex-start;
  /*margin-bottom: 8em;
  padding-right: 12em;*/
  padding: 8em 4em;
  gap: 4em;
}

#skills h1 {
  font-weight: 700;
  font-size: 32px;
  color: #cef6ff;
  margin-bottom: 0.5em;
}
/*
#skills p {
  width: 800px;
}*/

#designSkills {
  margin-top: 32px;
  margin-bottom: 32px;
}

#designItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#imgSkills {
  width: 40vw;
}

.skillItem {
  width: 10vw;
}

#trabajos {
  width: 100vw;
  margin-bottom: 96px;
  padding: 8em 12em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#trabajos h1 {
  font-weight: 700;
  font-size: 32px;
  color: #cef6ff;
  margin-bottom: 0.5em;
}

#cardsGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px 24px;
  gap: 2em;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 8px 8px 24px rgba(6, 37, 101, 0.25);
  border-radius: 24px;
}

.card:hover {
  outline: 1px solid white;
}

.infoCard {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#card1 h1 {
  font-weight: 700;
  font-size: 24px;
  color: white;
  margin-bottom: 0.5em;
}

#card2 {
  opacity: 0.3;
}

#card2 h1 {
  font-weight: 700;
  font-size: 24px;
  color: white;
  margin-bottom: 0.5em;
}

#card3 {
  opacity: 0.3;
}

#card3 h1 {
  font-weight: 700;
  font-size: 24px;
  color: white;
  margin-bottom: 0.5em;
}

footer {
  width: 100vw;
  text-align: center;
  padding: 16px 0px;
}

/* Extra large devices */
@media screen and (max-width: 1200px) {
  body {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 109px;
    margin: 0em;
    padding: 0em 6em;
    transition: 0.2s;
  }

  .menu {
    width: 50vw;
  }

  #actionsNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
  }

  #btn_primary {
    width: 20vw;
  }

  #header {
    padding: 6em 6em;
    /*margin-top:2em;*/
    margin-bottom: 8em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    width: 100vw;
  }

  #infoFVR h1 {
  }

  .highlights {
    /*display:none;*/
  }

  #title {
    /*display:none;*/
  }

  #brands {
    /* display:none;*/
    justify-content: center;
  }

  #actions {
    /* display:none;*/
  }

  #infoFVR {
    margin: 0;
    margin-top: 1em;
    text-align: center;
  }

  #brands {
    margin-top: 2em;
    margin-bottom: 4em;
  }

  #actions {
    justify-content: center;
  }

  #portrait {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
  }

  #blurTop {
    display: none;
    /*
            position: absolute;
            left: 5em;
            top: 12em;
            z-index:3;*/
  }

  #skills {
    text-align: center;
    display: flex;
    width: 100vw;
    padding: 4em 8em;
    flex-direction: column;
  }

  #skills p {
  }

  /*#skills h1 {
    margin-bottom: 0em;
  }*/

  #imgSkills {
    display: none;
  }

  #infoSkills {
    /*background: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #designSkills {
    /*background: blue;*/
  }

  #designItems {
    /*background: green;*/
    justify-content: center;
  }

  #devSkills {
  }

  #devItems {
    /*background: green;*/
    justify-content: center;
    gap: 0px;
  }

  .skillItem {
    justify-content: center;
    width: 150px;
    /*background: red;*/
    margin: 0px;
  }

  #trabajos {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0em;
    padding: 4em 8em;
    justify-content: center;
  }

  #trabajos h1 {
    margin-bottom: 0em;
  }

  .title {
    text-align: center;
    margin-bottom: 2em;
  }

  .subtitle {
    order: -2;
  }

  .card {
    flex-direction: row;
    gap: 2em;
  }

  .card .imgCard {
    border-radius: 8px;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 18em;
  }

  #card1 {
    margin-bottom: 0em;
  }

  .infoCard {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  #cardsGroup {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }

  .description {
    order: -1;
  }

  .toolCards {
    order: 0;
    margin-bottom: 2em;
  }

  footer {
    padding: 1em 0em;
  }
}

/* Large Devices (Laptops-Desktop)*/
@media screen and (max-width: 992px) {
  nav {
    padding: 0em 4em;
  }

  #header {
    padding: 6em 4em;
    align-items: center;
  }

  .menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 79%;
    right: -100%;
    width: 30vw;
    height: 32vh;
    background: #000046;
    gap: 0.5em;
    border-radius: 16px;
    transition: all 0.2s ease;
  }

  .menu.open {
    right: 2%;
  }

  .menu li {
    width: 100%;
    padding: 1.5em;
  }

  #menu_icon {
    display: block;
    cursor: pointer;
  }

  #menu_icon_c {
    display: none;
    cursor: pointer;
  }

  .active::after {
    /*padding: 0.5em;*/
    content: "";
    width: 2px;
    height: 80%;
    background: #ffeb3b;
    position: absolute;
    justify-content: center;
    bottom: 6px;
    left: 0px;
  }

  #btn_primary {
    width: 30vw;
  }

  #infoFVR {
    margin: 0;
  }

  #skills {
    padding: 4em 4em;
  }

  #trabajos {
    padding: 4em 4em;
  }
}

/*Medium devices (Landscapes and tablets)*/
@media screen and (max-width: 768px) {
  nav {
    padding: 0em 2em;
  }

  .menu {
    width: 40vw;
  }

  #btn_primary {
    width: 40vw;
  }

  #header {
    padding: 6em 2em;
  }

  #brands {
    line-height: 4em;
  }

  #skills {
    padding: 4em 2em;
  }

  #trabajos {
    padding: 4em 2em;
  }
}

/* Small devices*/
@media screen and (max-width: 600px) {
  nav {
    padding: 0em 1em;
  }

  #btn_primary {
    width: 50vw;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }

  #actions {
    flex-direction: column;
  }

  #btn_secondary {
    width: 90vw;
  }

  .infoCard #btn_secondary {
    width: 82vw;
  }

  /* Small devices plus*/
  @media screen and (min-width: 200px) {
    nav {
      padding: 0em 1em;
    }

    .menu {
      height: 36givh;
    }

    .active::after {
      /*padding: 0.5em;*/
      content: "";
      width: 2px;
      height: 40%;
      background: #ffeb3b;
      position: absolute;
      justify-content: center;
      bottom: 20px;
      left: 0px;
    }

    #btn_primary {
      width: 50vw;
    }

    #header {
      width: 100vw;
      padding: 6em 1em;
    }

    #brands {
      flex-wrap: wrap;
      justify-content: center;
    }

    #skills {
      padding: 6em 1em;
    }

    #designItems {
      flex-wrap: wrap;
    }

    #trabajos {
      padding: 6em 1em;
    }

    .card {
      flex-direction: column;
      align-items: center;
    }

    .card .imgCard {
      /*aspect-ratio: none;
      object-fit: cover;
      background: red;*/
      width: 100%;
    }

    #actions {
      flex-direction: column;
    }

    #btn_secondary {
      width: 90vw;
    }

    .infoCard #btn_secondary {
      width: 82vw;
    }
  }
}
